body {
    background-color: #37474F;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
}

.header-img {
	width: 45%;
    padding-top: 20px;
    margin-left: 200px;
}

.container{
	margin-top: 10px;

}
.character-avatar{
	width:50%;
}
.char-css{

	background-color: white;
	border: 2px solid black;
	text-align: center;
	color:green;

	display:inline-block;
}

.char-css:hover{
	opacity:0.8;
}

#characters{
	height:150px;
}

figure {
    margin: 0px 30px 0 60px;
}

#player, #cpu, #restart, #player, #cpu{
	display: inline-block;
}

#btnAttack,#btnRestart{
	vertical-align: middle;
}

.fighting-arena{
    background-image: url('../images/arena-bg.gif');
	height:330px;
    text-align: center;
    color: red;
}

.fighting-arena h3 {
    text-align: center;
	color: yellow;
    -webkit-text-stroke: 1px red;
	text-align:center;
	font-size: 24px;
    font-family: 'Press Start 2P', cursive;
}

#msgBattle {
    margin-top: 100px;
    opacity: .8;
    color: white;
}
